Flask_Login==0.2.11
Flask==1.0.2
Flask_SSLify==0.1.5
Flask_APScheduler==1.10.1
Flask_RESTful==0.3.6
Flask_Script==2.0.6
Werkzeug==0.14.1
APScheduler==3.5.3
python_dateutil==2.7.5
Appium-Python-Client==0.30
Jinja2==2.10
requests==2.20.1
robotframework==3.1b1
robotframework-appiumlibrary==1.4.6
robotframework-requests==0.5.0
robotframework-seleniumlibrary==3.2.0
robotframework-sshlibrary==3.2.1
robotframework-databaselibrary==1.1.1
Flask-Mail==0.9.1